.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: rgb(159, 195, 203);
    padding: 10px 2rem;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(139, 156, 160);
    cursor: pointer;
}
.main{
    text-align: center;
    padding: 0 2rem;
    width: 900px;
}
.margin{
    margin-bottom: 1.5rem;
    color: rgb(167, 164, 164);
}

.firstCard{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    color: rgb(150, 148, 148);
}