*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    background-color: rgb(112, 112, 243);
    color: white;
}
.text{
    border: none;
    background: none;
    color: rgb(71, 140, 237);
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 1rem 0 0;
    padding: 10px;
    cursor: pointer;
}
.text:hover{
    border: 2px solid black;
    border-radius: 5px;
}
.contained{
    border: none;
    background: rgb(71, 140, 237);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 1rem 0 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.contained:hover{
    border: 2px solid black;
    border-radius: 5px;
}
.outlined{
    border: 2px solid rgb(71, 140, 237);
    background: none;
    color: rgb(71, 140, 237);
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 1rem 0 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.outlined:hover{
    border: 2px solid black;
    border-radius: 5px;
}
.default{
    padding: 10px;
}
.default:hover{
    border: 2px solid black;
    border-radius: 5px;
}
.moodChecker{
    padding: 5px;
    background: none;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}
.moodChecker:hover{
    background: lightgrey;
    cursor: pointer;
}