.footer{
    background-color: rgba(169, 173, 173, 0.8);
    text-align: center;
    padding: 8px 0;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style: none;
    margin-left: 1.5rem;
    padding: 8px 0;
}
.footer p{
    padding-bottom: 8px;
}